<div>
  {{#each articles as |article|}}
    <div class="news">
      <h4>{{article.title}}</h4>
      <h6>{{article.description}}</h6>
      <a href="#" class="news__button">Подробнее</a>
    </div>
  {{/each}}
</div>