<div>
  <h3>News-feed</h3>
  <ul>
    {{#each articles as |article|}}
      <li>
        <div>
          <h4>{{article.title}} ({{article.dateCreated}})</h4>
          <p>{{article.description}}</p>
          <p>{{article.text}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
</div>