<a href="/buy-ticket" class="main-block-50">
  <img class="main-block-50_img" src="assets/images/bus icon.svg" alt="">

  {{#if session.isAuthenticated}}
    <span class="main-block-text">Нажмите, чтобы оплатить</span>
  {{/if}}
</a>