<h2 id="title">Welcome to Ember</h2>

<header>
  {{#if session.isAuthenticated}}
    {{#link-to 'buy-ticket' tagName="button"}}Buy ticket{{/link-to}}
    <button {{ action 'invalidateSession' }}>Logout</button>
  {{else}}
    {{#link-to 'signin' tagName="button"}}Sign in{{/link-to}}
    {{#link-to 'signup' tagName="button"}}Sign up{{/link-to}}
  {{/if}}
</header>

{{outlet}}
