<h1>DB</h1>

<header>
    {{#link-to 'buses' tagName="button"}}Buses{{/link-to}}
    {{#link-to 'articles' tagName="button"}}Articles{{/link-to}}
    {{#link-to 'users' tagName="button"}}Users{{/link-to}}
</header>

{{outlet}}
